@using DemoAppMvc.Models
@model Staff;
@{
}

<h1><span>@Model.FirstName</span>'s Record</h1>
<p>Id: <span>@Model.Id</span></p>
<p>Last Name: <span>@Model.LastName</span></p>
<p>First Name: <span>@Model.FirstName</span></p>
<p>Age: <span>@Model.Age</span></p>
